li a {
    color: limegreen;
}

li a:hover {
    color: blue;
}

li {
  padding: 5px;
}

ul {
    list-style-type: none;
}

body {
    background: white url("images/background.png") no-repeat bottom right;
}
.conteiner {
  max-width: 800px;
  margin: 0 auto;
}
ul {
    padding: 20px 5px;
}